@font-face {
    font-family: "inconsolata";
    src: url("assets/Inconsolata/Inconsolata-VariableFont_wdth\wght.ttf");
}

* {
    font-family: inconsolata, Andale Mono, monospace;
}

#enzoheadshot {
    height: 25%;
    width: 25%;
}

/* {border: 1px solid black;} 

